:root {
    --body-background-color: #fa1010;
    --body-text-color: #f0ffff;
    --card-background-color: #002b29;
    --nav-background-color: #002b29;
    --nav-border-bottom-color: #fa1010;
  }
  /* . . . */